<!DOCTYPE html>
<html>
<head>
  <% include ../../includes/header.ejs %>
  <link rel="stylesheet" href="/stylesheets/prove02style.css">
</head>

<body>
  <% include ../../includes/nav.ejs %>
<div id="formContainer">
  <label>Book Title:</label>
  <p><%= BookName %></p>
  <label>Book Author:</label>
  <p><%= Author %></p>
  <label>Book Summary:</label>
  <p><%= Summary %></p>
</div>
</body>
</html>