<!DOCTYPE html>
<html>

<head>
    <% include ../../includes/header.ejs %>
</head>

<body>
    <% include ../../includes/nav.ejs %>
    <form action='/prove01/submit' method="POST">
        Input one: <input type='text' name='inputOne'><br>
        Input Two: <input type='text' name='inputTwo'><br>
        <button type='submit'>Submit</button>
    </form>

</body>

</html>